* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

nav {
    box-shadow: 0px 3px 5px #c3c2c2;
    height: 4.2rem;
    padding: 0 1rem;
}

nav ul {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories-btn,
.search-bar,
.login-btn,
.signup-btn,
.lang-btn,
.teach-on-udemy-btn,
.udemy-business-btn {
    display: none;
}

.menu-btn button,
.search-btn button,
.cart-btn button {
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: transparent;
    border: none;
}

.logo {
    flex-grow: 2;
}

.logo img {
    display: block;
    width: 5rem;
}

li {
    display: flex;
    justify-content: center;
    min-width: auto;
    margin: 0 1rem;
    /* width: 25%;
    height: 70%; */
}

li button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    font-size: 1rem;
}

@media only screen and (min-width: 800px){
    /* Header */

    .search-btn,
    .menu-btn {
        display: none;
    }

    .categories-btn,
    .search-bar,
    .login-btn,
    .signup-btn,
    .lang-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo {
        flex-grow: initial;
    }

    .categories-btn button {
        /* padding: 1rem 2rem; */
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        text-align: center;
    }

    .categories-btn button:hover {
        color:#401b9c;
    }

    .search-bar {
        flex-grow: 1;
    }

    form {
        border: 1px black solid;
        border-radius: 70px;
        background: whitesmoke;
        display: flex;
        align-items: center;
        height: 3rem;
        padding-right: 2rem;
        width: 80%;
    }

    form i {
        display: block;
        color: grey;
        font-size: medium;
    }

    form button {
        border: none;
        background: transparent;
    }

    input[type="text"] {
        outline: transparent;
        border: none;
        background-color: transparent;
        font-size: 1rem;
    }

    button:hover {
        cursor: pointer;
    }
}