* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

nav {
    box-shadow: 0px 3px 5px #c3c2c2;
}

nav ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

/* tmp style */

li {
    width: 10px;
    height: 40px;
    background-color: red;
    display: inline-block;
}