* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

nav {
    box-shadow: 0px 3px 5px #c3c2c2;
}

nav ul {
    height: 100%;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.categories-btn,
.search-bar,
.login-btn,
.signup-btn,
.lang-btn {
    display: none;
}

.menu-btn,
.search-btn {
    position: relative;
}

.menu-btn button,
.search-btn button {
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30%;
    left: 30%;
}

.logo {
    flex-grow: 1;
    position: relative;
}

.logo img {
    height: 50%;
    position: absolute;
    top: 30%;
    left: 45%
}

/* tmp style */

nav li {
    margin: 1px;
    width: 7%;
    height: 40px;
    /* background-color: red; */
    display: inline-block;
}